
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html{
    margin: 0;
    padding: 0;
    font-family: "Sofia Sans", serif-sans;
    background-color:rgb(255, 255, 255);
    scroll-behavior: smooth;
   
}

.nav-container{
    background-color:rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.nav-item{

    display:inline;
    margin-top: 20px;
    margin-bottom: 20px;
    padding:0 60px;

}


.nav-item a{
    text-decoration: none;
    color:rgb(73, 73, 73);
    font-size: 17px;
    font-weight: 500;

}

.nav-item a{
    text-decoration: none;
    color:rgb(73, 73, 73);
    font-size: 17px;
    font-weight: 500;

}

.about-me{
    
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-direction: column; 
}

.about-me p {
    margin: 10px; 
  }

.contacts-img{
    margin: 10px;
    width: 40px;
    height: 40px;
}

.text-spacing{
    
    line-height: 30px;
    
    
}

.text-container{
    border: 2px solid black; /* Black solid border */
    box-shadow: 0 40px 40px rgba(0, 0, 0, 0.1); /* Shadow with a slight transparency */
    padding: 20px;
    max-width: 900px;
}

.about-container{
    
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    flex-direction: column; 
}

.about-container-technical{
  background-color: #000000;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: row; 
}

.about-ai{
    margin: 10px;
    width: 100px;
    height: 100px;
}
.about-tmu{
    margin: 10px;
    width: 100px;
    height: 100px;
}

.job-card{
    max-width: 900px;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    box-shadow: 0 40px 40px rgba(0, 0, 0, 0.1); /* Shadow with a slight transparency */
    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
     
}




.job-container{
  background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column; 
}

.card-length{
    width: 900px;
}

.card {
  border: 2px solid black;
  padding: 10px;
    width: 190px;
    height: 254px;
    background: rgb(255, 255, 255);
    transition: all 0.4s;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px  rgba(0, 0, 0, 0.705);
    font-size: 20px;
    font-weight: 900;
   
  }
  
  .card:hover {
    border-radius: 15px;
    cursor: pointer;
    transform: scale(1.2);
    box-shadow: 0px 0px 10px 5px  rgba(0, 0, 0, 0.705);
    background: rgb(255, 255, 255);
  }
  
  .first-content {
    
    height: 100%;
    width: 100%;
    transition: all 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    
  }
  
  .card:hover .first-content {
    height: 0px;
    opacity: 0;
  }
  
  .second-content {
    height: 0%;
    width: 100%;
    opacity: 0;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transition: all 0.4s;
    font-size: 0px;
    transform: rotate(90deg) scale(-1);
  }
  
  .card:hover .second-content {
    opacity: 1;
    height: 100%;
    font-size: 1.8rem;
    transform: rotate(0deg);
    font-size: 20px;
  }

  .proj-container{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column; 
}
  
  .grid {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-gap: 4rem; /* Adjust the gap to your desired spacing */
    justify-content: center;
    align-items: center;
  }

  .icon-margin{
    margin-bottom: 70px;
  }

.projtitle{
  padding: 100px;
}

.langcardholder{
  
  display: flex;
  flex-direction: row;
  padding-bottom: 100px;
}

.langcard{
  border-radius: 10px;
  font-weight: bold;
  background-color: black; 
  padding: 15px ;
  color: rgb(255, 255, 255);
  margin-right: 20px;
}

.about-left {
  flex: 1;
  background-color: #ffffff; /* Left div background color */
  color: rgb(0, 0, 0);
  padding: 20px;
  margin-left: 200px;
  margin-right: 70px;
  height:550px;
}

.about-right {
  flex: 1;
  background-color: #ffffff; /* Right div background color */
  color: rgb(0, 0, 0);
  padding: 20px;
  height: 550px;
  margin-left: 70px;
  margin-right: 200px;
}

.view-resume {
  padding: 40px;
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  color: #ffffff80;
  text-shadow: none;
  background: transparent;
  box-shadow: transparent;
  border: 1px solid #ffffff80;
  transition: 0.5s ease;
  user-select: none;
}

.view-resume:hover {
  color: #ffffff;
  background: #008cff;
  border: 1px solid #008cff;
  text-shadow: 0 0 5px #ffffff,
              0 0 10px #ffffff,
              0 0 20px #ffffff;
  box-shadow: 0 0 5px #008cff,
              0 0 20px #008cff,
              0 0 50px #008cff,
              0 0 100px #008cff;
}